.info {
    position: absolute;
    z-index: var(--modal-z-index);
    background: white;
}

.info_wrapper {
    color: black;
    font-weight: 500;
    width: 100%;
    display: flex;
    justify-content: center;
}
