.createClientForm {
    width: 810px;
    height: 500px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.fields {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
}
.field {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    display: flex;
    flex-direction: column;
    gap: 2px;
    &_title {
        color: var(--primary-color);
    }
    &_input {
        width: 100%;
        height: 30px;
        border: 1px solid var(--secondary-color);
        border-radius: 6px;
        padding: 0 10px;
        color: var(--secondary-color);
        &:focus {
            outline: none;
        }
    }
}
.buttons {
    margin-left: auto;
    &_create {
        width: 130px;
        height: 29px;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: center;
    }
}
