.window {
    width: 296px;
    height: 279px;
}
.title {
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    padding: 14px 2px 0 2px;
}
.variables {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 0px 10px 18px 16px;
}
.variable {
    display: flex;
    align-items: center;
    width: 270px;
    height: 40px;
    position: relative;
    color: var(--primary-color);
    border-radius: 6px;
    box-shadow: 0 0 2px var(--secondary-color);
    &:hover {
        box-shadow: 0 0 3px var(--primary-color);
    }
    svg {
        position: absolute;
        width: 30px;
        height: 30px;
        margin-left: 5px;
    }
    span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        font-size: 18px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: center;
    }
}
