.header {
    width: 100%;
    height: var(--header-height);
    display: flex;
    align-items: center;
}
.client {
    display: flex;
    flex-direction: column;
    margin-left: 41px;
    &_info {
        display: flex;
        flex-direction: column;
    }
}
.employee {
    margin-left: auto;
    margin-right: 110px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    color: gray;
}
