.signinForm_wrapper {
    width: 500px;
    padding: 2rem 0 1rem 0;
    margin: 45px auto;
    background: #fff;
    border: radius 10px;
    text-align: center;
}

form {
    padding-top: 1.5rem;
}

form input {
    outline: none;
    border: none;
    background: #f0f8ff;
    padding: 12px 14px;
    margin-bottom: 35px;
    width: 450px;
    height: 50px;
}

button {
    width: 285px;
    height: 59px;
    background-color: #c0c0c0;
    margin-top: 1rem;
    padding: 8px 0;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #696969;
}
